/* .CalendarGrid{ 
    color: red;
    border: 1px solid black;
    width: 200px;
    weight: 200px;
    display: grid;
    grid-template: 150 / auto auto auto;
} */

/* .grid-container {
    display: grid;
    grid-template-areas:
      'dateRange dateRange dateRange dateRange dateRange dateRange dateRange'
      'dayOfWeek Sunday Monday dayOfWeek dayOfWeek dayOfWeek dayOfWeek'
      'menu footer footer footer footer footer';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;} */
/* 
.item1 { grid-area: Sunday;
background-color: yellow;}

.item2 {
    grid-area: Monday;
    background-color: purple;
} */

/* .grid-item {
    background-color: #f5f5f5;
    border: 2px solid #EB8486;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    align-self: stretch;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 9% 13% 13% 13% 13% 13% 13% 13%;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
    background-color: #f5f5f5;
    padding: 5px;
    align-items: center;
  } 

  .item1 {
    grid-column: 1 / span 8;
    grid-row: 1
  } */

  .cal-grid {display:flex;
  flex-direction: column;
background-color: rgb(144, 167, 184);
align-items: center;



/* justify-content: center; */
  }


.modal{z-index: 1;
  margin: 20px;
  position: fixed;
  align-self: center;
  /* background-color: red; */
  justify-self: center;
}

.timeSlots {
  display: flex;
  flex-direction: column;
  background-color: red;
  height: 70rem;
  width: 56rem;
  flex-wrap: wrap;
  
}

